<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mltds.sargeras.spi.manager.rdbms.mapper.SagaTxRecordResultMapper">

    <resultMap id="SagaTxRecordResultRM" type="SagaTxRecordResult">
        <id property="id" column="id"/>
        <result property="recordId" column="record_id"/>
        <result property="txRecordId" column="tx_record_id"/>
        <result property="cls" column="cls"/>
        <result property="result" column="result"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <insert id="insert" parameterType="SagaTxRecordResult">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO
        saga_tx_record_result
        (record_id, tx_record_id, cls, result, create_time, modify_time)
        VALUES
        (#{recordId},#{txRecordId},#{cls},#{result},#{createTime},#{modifyTime})
    </insert>

    <select id="selectByTxRecordId" resultMap="SagaTxRecordResultRM">
        SELECT * FROM saga_tx_record_result
        WHERE tx_record_id = #{txRecordId}
    </select>

</mapper>